
.header-container{
    background-color: rgba(132, 148, 250, 0.555);
    height: 90px;
    border-radius: 10px;
    margin-top: 20px;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title h2, p{
    margin: 0px;
}






/*====================== Stle main section  =========================*/
.main-container{
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: 2%;
}


.custom-container{
    margin: 0px 80px;
}

.card-body{
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-input{
    text-align: center;
}

.card-input input{
    width: 30%;
    background-color: rgba(134, 133, 133, 0.425);
    border: none;
    border-radius: 4px;
    padding: 4px 6px;
}

.pentagon-img{
    width: 90px;
}

.ellipse-img{
    width: 140px;
}

.cal-title{
    text-align: center;
}

.calculator-area{
    border: 1px solid black;
    height: 70vh;
    padding: 0px 20px;
}

.main-container{
    margin-bottom: 30px;
}

#mobile-btn{
    display: none;
}




/* Responsive grid for mobile devices  */

@media screen and (max-width:576px) {

    .main-container{
        grid-template-columns: 1fr;
        
    }

    .custom-container{
        margin: 0px 30px;
    }

    .calculator-area{
        margin-bottom: 50px;
    }

    #dextop-btn{
        display: none;
    }

    #mobile-btn{
        display: block;
    }
}



