*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.custom-container{
    margin: 50px;
}

.blog-title{
    text-align: center;
}

.back-btn a{
    text-decoration: none;
}



.blog{
    padding: 35px;
    border-radius: 12px;
    margin-bottom: 20px;
}


#blog-1{
    background-color: rgba(58, 254, 64, 0.62);
}

#blog-2{   
    background-color: rgba(179, 58, 254, 0.75);
}

#blog-3{   
    background-color: rgba(253, 193, 115, 0.758);
}
#blog-4{   
    background-color: rgba(249, 99, 246, 0.62);
}